html
pdf
llaminas/*.aux
laminas/*.log
laminas/*.tex
laminas/*.vrb
laminas/*.out
laminas/*.pdf
laminas/*.html
planeacion/*.aux
planeacion/*.log
planeacion/*.tex
planeacion/*.vrb
planeacion/*.out
planeacion/*.pdf
planeacion/*.html
ltxpng
