html
pdf
notas/*.aux
notas/*.log
notas/*.tex
notas/*.vrb
notas/*.out
notas/*.pdf
notas/*.html
laminas/*.aux
laminas/*.log
laminas/*.tex
laminas/*.vrb
laminas/*.out
laminas/*.nav
laminas/*.snm
laminas/*.toc
laminas/*.pdf
laminas/*.html
planeacion/*.aux
planeacion/*.log
planeacion/*.tex
planeacion/*.vrb
planeacion/*.out
planeacion/*.pdf
planeacion/*.html
ltxpng
