%ul
  %li
    %a{:href => "/"} Inicio
  %li
    %a{:href => "descarga.html"} Descarga
  %li
    %a{:href => "compra.html"} Compra
  %li
    %a{:href => "codigo.html"} Código ejemplo
  %li
    %a{:href => "material.html"} Material adicional
