%p
  En esta sección encontrarán el código ejemplo presentado a lo largo
  del libro. El código aquí presentado es relevante principalmente al
  capítulo 3 (Administración de procesos).
  %table
    - SistopWeb::Progs::Contents.each do |section|
      %tr
        %th{:colspan => 2, :style => 'border-top: solid 1px black'}= section[:title]
      %tr
        %th Programa
        %th Lenguaje
      - section[:progs].each do |p|
        - prog = SistopWeb::Progs.new(p)
        %tr
          %td
            %a{:href => File.join(prog.dest_link)}= prog.title
          %td
            = prog.language
