%p
  El libro
  %em Fundamentos de sistemas operativos
  puede
  adquirirse en:
%ul
  %dl
    %dt Presencialmente (UNAM, México DF)
    %dd
      %ul
        %li
          Facultad de Ingeniería de la UNAM
          %br/
          Área de
          %em venta de publicaciones
          %br/
          %a{:href => "http://www.openstreetmap.org/?mlat=19.33115&mlon=-99.18481#map=19/19.33115/-99.18481&layers=N"}
            Planta Baja del edificio B
            (venta en persona únicamente)
        %li
          Instituto de Investigaciones Económicas de la UNAM
          %br/
          %a{:href => "http://www.openstreetmap.org/?mlat=19.31594&mlon=-99.17962#map=18/19.31594/-99.17962&layers=N"}
            Librería del Instituto
          %br/
          Para su envío, contactar por vía telefónica al (+52-55)5623-0080, o
          %a{:href => "mailto:ventiiec@unam.mx"}
            por correo electrónico a ventiiec@unam.mx
    %dt Compra en línea
    %dd
      %ul
        %li
          %a{:href => "http://www.lulu.com/shop/gunnar-wolf/fundamentos-de-sistemas-operativos/paperback/product-22351786.html"}
            Servicio de impresión bajo demanda
            %b Lulu.com
        %li
          %a{:href => "http://smile.amazon.com/Fundamentos-sistemas-operativos-Spanish-Gunnar/dp/6070265440/ref=sr_1_2?ie=UTF8&qid=1444151592&sr=8-2&keywords=fundamentos+de+sistemas+operativos"} Amazon
        %li
          %a{:href => "http://www.barnesandnoble.com/w/fundamentos-de-sistemas-operativos-gunnar-wolf/1122701494?ean=9786070265440"} Barnes & Noble
%p
  Los libros impresos y comercializados por la UNAM cuentan
  con interiores impresos a color; en la librería de
  Investigaciones Económicas están disponibles a MX$150 (mas
  gastos de envío, de aplicarse), y en la de Ingeniería a
  MX$250.
%p
  Los ejemplares impresos bajo demanda mediante
  %em Lulu.com
  se imprimen en blanco y negro, y cuestan US$17.92 (mas gastos de envío).
%p
  Los ejemplares comprados por medio de
  %em
    Amazon, Barnes & Noble
  y librerías similares en línea, la impresión es en blanco y negro, y cuestan US$22.40 (mas gastos de envío).
