%p
  Puedes descargar el libro
  %a{:href => "/pdf/sistemas_operativos.pdf"}
    siguiendo esta liga
  (PDF, 12 MB). La versión disponible en línea irá
  recibiendo correcciones conforme las vayamos encontrando.
%p
  Si te interesa el código fuente empleado para la
  preparación del libro, puedes
  %a{:href => "https://github.com/gwolf/sistop"}
    navegar en el árbol fuente empleando la interfaz Web de GitHub,
  o descargarlo directamente con Git:
%code git clone https://github.com/gwolf/sistop.git
%p
  El libro tiene un licenciamiento permisivo Creative Commons
  Atribución-CompartirIgual.
%center
  %img{:height => "47", :src => "img/CC-BY-SA.png", :width => "133"}/
