%p
  Todos los usuarios de equipos de cómputo (esto es,
  prácticamente cualquier persona del mundo) tienen contacto
  con un sistema operativo, y ciertas expectativas acerca de
  su funcionamiento. ¿Cómo es que un sistema operativo puede
  gestionar y compartir los recursos de cómputo?
%p
  Hoy en día, a pesar de que menos de una decena es conocida
  por la población en general, hay cientos de sistemas
  operativos en uso y bajo un desarrollo activo. Cada uno de
  ellos persigue distintos fines, sea por la arquitectura o la
  capacidad de los equipos en que se ejecutará,
  características específicas que implementa, o persigue
  atraer un segmento distinto de la población. Todos ellos,
  sin embargo, realizan las mismas operaciones básicas, parten
  de los mismos fundamentos.
%p
  Este libro, diseñado para servir como bibliografía para un
  curso de Sistemas Operativos para licenciatura, presenta las
  principales áreas en que se divide el trabajo de un sistema
  operativo.
%p
  El libro está escrito nativamente en español, salvando las
  inconveniencias en que muchas veces incurren las
  traducciones þécnicas. Los autores (uno mexicano, dos
  argentinos y uno colombiano) procuraron que el lenguaje y
  los términos empleados resulten lo más neutros y universales
  a la región latinoamericana.
%hr/
%p
  Este libro fue escrito con el apoyo de
  la
  %a{:href => "http://latinproject.org/"}
    Iniciativa
    Latinoamericana de Libros de Texto Abiertos «LATIn»,
  por lo que se permite su libre redistribución y modificación
  bajo los términos de la licencia Creative Commons
  Reconocimiento-CompartirIgual (CC BY-SA) versión 4.0.
%p
  El libro está
  %a{:alt => "Fundamentos de sistemas operativos", :href => "/pdf/sistemas_operativos.pdf"}
    disponible para su descarga en formato PDF.
