body {
  font-family: Arial, Helvetica;
}

#menu {
  font-size: 80%;
}

#menu .cabeza {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.encabezado {
}

.encabezado .titulo {
    float: left;
    text-align: center;
    max-width: 70%;
}

.encabezado .titulo h1 {
    margin-top: 0;
}

.encabezado .logos img {
    padding: 0 1em 0 1em
}

.encabezado .logos a {
    text-decoration: none;
}

.autores {
    text-align: right;
    margin-left: auto;
    max-width: 30%;
    border: solid 1px #777;
    margin-bottom: 1.5em
}

.autores h3 {
    display: block;
    width: 100%;
    background: #777;
    color: #fff;
    margin: 0 0 0.5em 0;
    font-size: 100%;
}

.menu {
    height: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px #ddd;
    border-top: solid 1px #ddd;
}

.menu ul { display: inline; }
.menu li { display: inline; }
.menu li a {
    text-decoration: none;
    background: #ddd;
    color: #000;
    padding: 0.2em;
    margin: 0 1em 0 0;
}
.menu li a:hover {
    color: #fff;
    background: #9a141b;
}

.main {
    width: 100%;
}

.main a {
    text-decoration: none;
    color: #9a141b;
}

.izq {
    width: 260;
    float: left;
}

.izq img {
    border: solid 1px #eee;
    padding: 0.5em;
}

.content {
    padding-left: 300px;
}

#menu ul { padding: 0; }
#menu ol { padding: 0 0 0 1em; }
#menu ul li { list-style: none; padding-bottom: 0.5em; }
#menu ol li { list-style: decimal; }
table.indice-libro tr:hover, #menu ul li:hover { background: #fec; }
#menu ol li:hover { background: #edb; }

#postamble { display: none; }

dl dt { font-weight: bold; }
dl dd { margin-left: 1em; }
dl dd ul {padding-left: 1em; }
